In [1]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read in CSVs
crimes_2019 = pd.read_csv("crimes2019.csv")
crimes_2020 = pd.read_csv("crimes2020.csv")
crimes_2021 = pd.read_csv("crimes2021.csv")

In [3]:
# Concatenate crime csv files
crime_data = pd.concat([crimes_2019,crimes_2020,crimes_2021])

In [4]:
# Preview full crime data
crime_data.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11864018,JC476123,09/24/2019 08:00:00 AM,022XX S MICHIGAN AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,...,3.0,33.0,11,1177560.0,1889548.0,2019,10/20/2019 03:56:02 PM,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,JC471592,10/13/2019 08:30:00 PM,024XX W CHICAGO AVE,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,False,False,...,26.0,24.0,06,1160005.0,1905256.0,2019,10/20/2019 04:03:03 PM,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,JC476236,10/05/2019 06:30:00 PM,0000X N LOOMIS ST,0810,THEFT,OVER $500,RESIDENCE,False,False,...,27.0,28.0,06,1166986.0,1900306.0,2019,10/20/2019 03:56:02 PM,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,JC471542,10/13/2019 07:00:00 PM,016XX W ADDISON ST,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,47.0,6.0,14,1164930.0,1923972.0,2019,10/20/2019 04:03:03 PM,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,JC471240,10/13/2019 02:10:00 PM,051XX N BROADWAY,0560,ASSAULT,SIMPLE,GAS STATION,False,False,...,47.0,3.0,08A,1167380.0,1934505.0,2019,10/20/2019 04:03:03 PM,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [5]:
crime_data.groupby("Primary Type").count()
crime_data_clean = crime_data.loc[~crime_data["Primary Type"].isin(crime_data), :]
crime_data_clean['Primary Type'].value_counts()

THEFT                                115000
BATTERY                              103838
CRIMINAL DAMAGE                       59479
ASSAULT                               45277
DECEPTIVE PRACTICE                    43048
OTHER OFFENSE                         34036
NARCOTICS                             24325
MOTOR VEHICLE THEFT                   22187
BURGLARY                              20217
ROBBERY                               18256
WEAPONS VIOLATION                     17766
CRIMINAL TRESPASS                     12107
OFFENSE INVOLVING CHILDREN             4916
PUBLIC PEACE VIOLATION                 2975
SEX OFFENSE                            2570
INTERFERENCE WITH PUBLIC OFFICER       2319
CRIMINAL SEXUAL ASSAULT                2239
HOMICIDE                               1503
ARSON                                  1124
CRIM SEXUAL ASSAULT                    1003
PROSTITUTION                            972
STALKING                                532
CONCEALED CARRY LICENSE VIOLATION       425
LIQUOR LAW VIOLATION                    419
INTIMIDATION                            367
KIDNAPPING                              326
GAMBLING                                170
OBSCENITY                               136
HUMAN TRAFFICKING                        22
PUBLIC INDECENCY                         22
OTHER NARCOTIC VIOLATION                 15
NON-CRIMINAL                              7
RITUALISM                                 1
Name: Primary Type, dtype: int64

In [6]:
from datetime import datetime,date

In [7]:
crime_data_cleaner = crime_data_clean[['ID', 'Primary Type', 'Date','Description', 'Location Description', 'Arrest', 'Domestic', 'Community Area', 'Year', 'Latitude', 'Longitude', 'Location']]

crime_data_cleaner.head()

,ID,Primary Type,Date,Description,Location Description,Arrest,Domestic,Community Area,Year,Latitude,Longitude,Location
0,11864018,DECEPTIVE PRACTICE,09/24/2019 08:00:00 AM,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,33.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,THEFT,10/13/2019 08:30:00 PM,RETAIL THEFT,GROCERY FOOD STORE,False,False,24.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,THEFT,10/05/2019 06:30:00 PM,OVER $500,RESIDENCE,False,False,28.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,CRIMINAL DAMAGE,10/13/2019 07:00:00 PM,TO VEHICLE,STREET,False,False,6.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,ASSAULT,10/13/2019 02:10:00 PM,SIMPLE,GAS STATION,False,False,3.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [8]:
#change column names 
#drop nulls
#save df into csv OR connect from jupyter notebook

crime_data_cleaner.dropna()
crime_data_cleaner.columns=["id","primary_type","date","description", "location_description","arrest","domestic","community_area", "year", "lat" , "lng", "location"]
crime_data_cleaner.head()

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,11864018,DECEPTIVE PRACTICE,09/24/2019 08:00:00 AM,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,33.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,THEFT,10/13/2019 08:30:00 PM,RETAIL THEFT,GROCERY FOOD STORE,False,False,24.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,THEFT,10/05/2019 06:30:00 PM,OVER $500,RESIDENCE,False,False,28.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,CRIMINAL DAMAGE,10/13/2019 07:00:00 PM,TO VEHICLE,STREET,False,False,6.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,ASSAULT,10/13/2019 02:10:00 PM,SIMPLE,GAS STATION,False,False,3.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [9]:
crime_data_cleaner.dtypes

id                        int64
primary_type             object
date                     object
description              object
location_description     object
arrest                     bool
domestic                   bool
community_area          float64
year                      int64
lat                     float64
lng                     float64
location                 object
dtype: object

In [10]:
crime_data_cleaner['date']= pd.to_datetime(crime_data_cleaner["date"])
crime_data_cleaner.head()

<ipython-input-10-b756ba49e938>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_cleaner['date']= pd.to_datetime(crime_data_cleaner["date"])

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,11864018,DECEPTIVE PRACTICE,2019-09-24 08:00:00,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,33.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,THEFT,2019-10-13 20:30:00,RETAIL THEFT,GROCERY FOOD STORE,False,False,24.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,THEFT,2019-10-05 18:30:00,OVER $500,RESIDENCE,False,False,28.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,CRIMINAL DAMAGE,2019-10-13 19:00:00,TO VEHICLE,STREET,False,False,6.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,ASSAULT,2019-10-13 14:10:00,SIMPLE,GAS STATION,False,False,3.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [11]:
crime_data_cleaner['date']= crime_data_cleaner['date'].dt.strftime("%Y-%m-%d")
crime_data_cleaner.head()

<ipython-input-11-278bcf39c742>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_data_cleaner['date']= crime_data_cleaner['date'].dt.strftime("%Y-%m-%d")

,id,primary_type,date,description,location_description,arrest,domestic,community_area,year,lat,lng,location
0,11864018,DECEPTIVE PRACTICE,2019-09-24,FINANCIAL IDENTITY THEFT $300 AND UNDER,COMMERCIAL / BUSINESS OFFICE,False,False,33.0,2019,41.852248,-87.623786,"(41.852248185, -87.623786256)"
1,11859805,THEFT,2019-10-13,RETAIL THEFT,GROCERY FOOD STORE,False,False,24.0,2019,41.895732,-87.687784,"(41.895732399, -87.687784384)"
2,11863808,THEFT,2019-10-05,OVER $500,RESIDENCE,False,False,28.0,2019,41.882002,-87.662287,"(41.88200224, -87.662286977)"
3,11859727,CRIMINAL DAMAGE,2019-10-13,TO VEHICLE,STREET,False,False,6.0,2019,41.946987,-87.669164,"(41.946987144, -87.669163602)"
4,11859656,ASSAULT,2019-10-13,SIMPLE,GAS STATION,False,False,3.0,2019,41.975838,-87.659854,"(41.975837637, -87.659853835)"

In [12]:
crime_data_cleaner.to_csv("clean_crimedata.csv", index=False)

In [ ]:
engine = create_engine("sqlite:///crime_db.sqlite")

In [ ]:
crime_data_cleaner.to_sql('crimes', engine)